.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 8px 15px 8px 15px;
    /* base padding */
    margin: 5px;
    /* base margin */
    font-family: 'Open Sans';
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    min-width: 100px;
    min-height: 30px;
    text-decoration: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    &.icon-left {
        & .material-icons {
            margin-left: -4px;
            margin-right: 8px;
        }
    }

    &.icon-right {
        & .material-icons {
            margin-right: -4px;
            margin-left: 8px;
        }
    }
}

.button-dark {
    background: #363636;
    color: hsl(0, 0%, 96%);
}

.button-light {
    background: hsl(0, 0%, 96%);
    color: #363636;
}

.button-primary {
    background: hsl(217, 71%, 53%) !important;
    color: white !important;
}

.button-info {
    background: hsl(204, 86%, 53%);
    color: white;
}

.button-warning {
    background: hsl(48, 100%, 67%);
    color: black;
}

.button-danger {
    background: rgb(190, 0, 0);
    color: white;
}

.button-special {
    background: #6200ee;
    color: white;
}

.button-round {
    border-radius: 15px;
}

.important {
    text-transform: uppercase;
}

[ripple] {
    position: relative;
    overflow: hidden;

    &>.ripple--container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &>span {
            transform: scale(0);
            border-radius: 100%;
            position: absolute;
            opacity: 0.5;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d1d1d1+100 */
            background: #f0f0f0;
            /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover, #f0f0f0 0%, #c9c9c9 100%);
            /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover, #f0f0f0 0%, #c9c9c9 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center, #f0f0f0 0%, #c9c9c9 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d1d1d1', GradientType=1);
            /* IE6-9 fallback on horizontal gradient */
            animation: ripple 1000ms;
        }
    }
}

@keyframes ripple {
    to {
        opacity: 0;
        transform: scale(1.75);
    }
}