.dropdown {
    display: inline-block;
    position: relative;
    font-family: 'Roboto';
}

.dropdown-trigger {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.15s ease-in, background 0.115s ease-in-out;
    padding-right: 25px;
    margin: 0;

    &:hover {
        background: rgb(230, 230, 230);
    }   

    &:focus {
        box-shadow: 0 0 5px hsla(217, 71%, 53%, 0.75);
    }
}

.dropdown-toggler {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.dropdown-icon {
    position: absolute;
    top: 7.5px;
    right: 2.5px;
    pointer-events: none;
    transition: all 0.15s ease-in;

    &.active {
        top: 5px;
        transform: rotateX(180deg);
    }
}

.dropdown-input {
    display: none;

    &+.dropdown-content {
        display: none;
    }

    &:checked+.dropdown-content {
        display: block;
    }
}

.dropdown-content {
    z-index: 10000;
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0;
    margin: 3px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    list-style-type: none;

    & li {
        font-size: 14px;
        padding: 10px 20px;
        cursor: pointer;
        white-space: nowrap;
        transition: background 0.15s ease-in-out;

        &.selected {
            background: hsl(217, 71%, 53%);
            color: white;

            &:hover {
                background: hsl(217, 63%, 44%);
            }
        }

        &:hover {
            background: #ccc;
        }

        a {
            display: block;
            margin: -10px -20px;
            padding: 10px 20px;
        }

        &.divider {
            padding: 0;
            border-bottom: 1px solid #cccccc;
        }
    }
}