.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 10;
    transition: top 0.2s;
}

#navbar-toggle {
    position: absolute;
    display: none;
}

.navbar-toggle-label {
    position: relative;
    margin: 0 2vw;
    transition: left 0.2s ease-out;
}

.burger {
    display: inline-block;

    & .line {
        width: 30px;
        height: 4px;
        background: #9e9e9e;
        display: block;
        transition: transform 0.3s ease-in-out, opacity 0.3s;
        border-radius: 1px;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

#navbar-toggle:checked+.navbar-toggle-label .burger .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

#navbar-toggle:checked+.navbar-toggle-label .burger .line:nth-child(2) {
    opacity: 0;
}

#navbar-toggle:checked+.navbar-toggle-label .burger .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.navbar-content {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.navbar-brand {
    font-size: 22px;
    font-weight: 500;
}

.navbar-item {
    margin: 0 10px;
    display: inline-block;
}

.navbar-item-right {
    margin-left: auto;
}

.sidenav {
    position: fixed;
    top: 0;
    left: -25vw;
    height: 100vh;
    width: 25vw;
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
    transition: left 0.25s ease-out;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.sidenav-mask {
    position: fixed;
    top: 0;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    opacity: 0;
    transition: opacity 0.1s;
}

.sidenav .sidenav-item {
    color: #363636;
    list-style-type: none;
    font-family: 'Open Sans';
    width: 100%;
}

.sidenav ul.sidenav-item {
    margin: 0;
    padding-left: 0;
}

.sidenav .sidenav-item a {
    text-decoration: none;
    color: #363636;
    padding: 12px;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: padding-left 0.2s;
}

.sidenav .sidenav-item a li {
    display: flex;
    align-items: center;
}

.sidenav .sidenav-item a:hover,
.sidenav .sidenav-item a.active {
    padding-left: 35px;
}

.sidenav .sidenav-item a li i {
    margin-right: 10px;
}

.sidenav .sidenav-item a.active {
    color: white;
    background: hsl(217, 71%, 53%);
}

.sidenav .sidenav-item.sidenav-top {
    align-self: flex-start;
    box-shadow: 0 4px 2px -2px gray;
}

.sidenav .sidenav-item.sidenav-bottom {
    margin-top: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.content {
    position: relative;
    font-family: 'Roboto';
    top: 10vh;
    padding: 20px;
    padding-top: 10vh;
    width: 100%;
    min-height: 90%;
    overflow: auto;
}

#navbar-toggle:checked~.sidenav {
    z-index: 2;
    left: 0;
    box-shadow: 5px 0 5px -3px #363636;
}

#navbar-toggle:checked~.sidenav-mask {
    z-index: 1;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    opacity: 1;
}

/* some color styles */

.navbar-dark {
    background: #363636;
    color: hsl(0, 0%, 96%);
}

.navbar-dark .navbar-toggle-label .burger .line {
    background: hsl(0, 0%, 96%);
}

.navbar-primary {
    background: hsl(217, 71%, 53%);
    color: hsl(0, 0%, 96%);
}

.navbar-primary .navbar-toggle-label .burger .line {
    background: hsl(0, 0%, 96%);
}

@media screen and (max-width: 639px) {
    .navbar-item:not(.navbar-brand) {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .sidenav {
        left: -100vw;
        width: 100vw;
    }
}