<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 - Not Found</title>
    <link rel="stylesheet" href="view/resources/styles/master.css">
    <link rel="stylesheet" href="view/resources/styles/404.css">
</head>

<body>
    <div class="container">
        <h1 class="heading">
            No rights for ya!
        </h1>
        <p>
            Anda tidak memiliki hak untuk melakukan aksi ini!
        </p>
        <br />
        <p>
            Tolong naik pangkat dulu
        </p>
    </div>
</body>

</html>