<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login - Wom-CRM</title>
    <link rel="stylesheet" href="view/resources/styles/master.css">
    <script src="view/resources/js/master.js" defer></script>
    <link rel="stylesheet" href="view/resources/styles/login.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <script src="view/resources/js/login.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="loader">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="circle" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30">
                </circle>
            </svg>
        </div>

        <img src="view/resources/image/wombat.png" class="logo" alt="Wombat Inc." title="Wombat Inc." width="128"
            height="128" />
        <div class="box login-box">
            <form action="#" method="POST" id="login">
                <div class="columns">
                    <div class="column">
                        <div class="input-group">
                            <input type="text" class="input-field" id="username" required />
                            <span class="input-highlight"></span>
                            <span class="input-bar"></span>
                            <label class="input-label">Username</label>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="input-group">
                            <input type="password" class="input-field" id="password" required password-reveal />
                            <span class="input-highlight"></span>
                            <span class="input-bar"></span>
                            <label class="input-label">Password</label>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <button class="button button-primary login" type="submit" ripple>
                            Login
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</body>

</html>