<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Header Component</title>
    <link rel="stylesheet" href="styles/master.css">
    <script src="js/button.js" defer></script>
    <script src="js/header.js" defer></script>
</head>

<body>
    <nav class="navbar navbar-primary">
        <input type="checkbox" id="navbar-toggle" />
        <label for="navbar-toggle" class="navbar-toggle-label">
            <div class="burger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </label>
        <header class="navbar-content">
            <div class="navbar-item navbar-item-right" id="date"></div>
        </header>
        <nav class="sidenav">
            <div class="sidenav-item sidenav-top current-user">
                <div class="media">
                    <div class="media-image">
                        <img src="./resources/user.png" alt="'s image'" title="'s'" width="64" height="64" />
                    </div>
                    <div class="media-content">
                        <div class="media-header">
                            Wumbo
                        </div>
                        <p>
                            Customer Service
                        </p>
                    </div>
                </div>
            </div>
            <ul class="sidenav-item">
                <a href="">
                    <li>
                        <i class="material-icons">home</i>
                        <span>Home</span>
                    </li>
                </a>
                <a class="active" href="">
                    <li>
                        <i class="material-icons">person_add</i>
                        <span>Add Client</span>
                    </li>
                </a>
                <a href="">
                    <li>
                        <i class="material-icons">poll</i>
                        <span>View Report</span>
                    </li>
                </a>
                <a href="">
                    <li>
                        <i class="material-icons">public</i>
                        <span>Region Search</span>
                    </li>
                </a>
                <a href="">
                    <li>
                        <i class="material-icons">settings</i>
                        <span>Profile Settings</span>
                    </li>
                </a>
            </ul>
            <div class="sidenav-item sidenav-bottom">
                <button class="button button-primary" ripple>
                    Logout
                </button>
            </div>
        </nav>
        <label class="sidenav-mask" for="navbar-toggle"></label>
    </nav>
    <section class="content">
        ganteng
    </section>
</body>

</html>