<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modal Component</title>
    <link rel="stylesheet" href="styles/master.css">
    <script src="js/modal.js" defer></script>
    <script src="js/button.js" defer></script>
</head>
<body>
    <button class="button modal-trigger" data-target="modal">Trigger</button>
    <div id="modal" class="modal">
        <input type="checkbox" id="modal-close" />
        <label for="modal-close" class="modal-overlay"></label>
        <label for="modal-close" class="modal-close-button">
            <i class="material-icons">
                cancel
            </i>
        </label>
        <div class="modal-items">
            <div class="modal-header">
                <h1>aaaa</h1>
            </div>
            <div class="modal-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo perferendis perspiciatis accusamus amet tenetur. Quas sed amet voluptas deleniti nam aliquid illum cumque nisi. Quidem atque consequatur consequuntur temporibus accusamus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam aspernatur a accusamus odit. Sunt labore fugiat magnam rem praesentium in, placeat mollitia, exercitationem voluptates hic sint accusamus nihil reiciendis distinctio?</p>
            </div>
            <div class="modal-footer">
                <button class="button button-dark" ripple>Aaaa</button>
                <button class="button button-primary">bnbbb</button>
            </div>
        </div>
    </div>
</body>
</html>