body {
    background:hsla(204, 86%, 53%, 0.247);
}

.container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.logo {
    display: block;
    margin-bottom: 10px;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5em;
    width: 40%;
}

.login {
    width: 100%;
}